 /* Global Styles */
 * {
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
/* Project Listing Styles */
.project-listing {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px auto;
    max-width: 1000px;
}
.project-listing li {
    background-color: #bcc5ce;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: calc(33.33333% - 20px);
}
.project-listing li a {
    color: #333;
    display: block;
    padding: 10px 20px;
    text-align: left;
    text-decoration: none;
}
.project-listing li a:hover {
    background-color: #f5f5f5;
}
.project-listing li h2 {
    /* margin-bottom: 10px; */
    text-transform: none
}
.project-listing li h4 {
    /* margin-bottom: 10px; */
    text-transform: none
}
.project-listing li p {
    font-size: 0.9rem;
    margin-bottom: 20px;
}

.project-header {
    margin-top: 1rem;
    font-size: 2rem;
}

@media screen and (max-width: 767px) {
    .project-listing li {
        width: calc(50% - 20px);
    }
}
@media screen and (max-width: 480px) {
    .project-listing li {
        width: 100%;
    }
}